@using EipsHelpDesk.Models
@model IssueViewModel
@{
    Layout = "_Layout";
}
@await Html.PartialAsync("_Breadcrumb")

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <form class="form form-inline" method="get">
                <div class="col-sm">
                    <div class="form-group">
                        <select name="ff" asp-for="@Model.ff" asp-items="@Model.SelectListFirstFilters" class="form-control form-control-sm"></select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <select name="sf" asp-for="@Model.sf" asp-items="@Model.SelectListSecondFilter" class="form-control form-control-sm"></select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <select name="tf" asp-for="@Model.tf" asp-items="@Model.SelectListThirdFilter" class="form-control form-control-sm"></select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-secondary btn-block btn-sm" style="width: 100%">применить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">
                @if (Model.Issues.Count() > 0)
                {
                    @foreach (var item in Model.Issues)
                    {
                        <div class="card card-@item.Status.color card-outline">
                            <div class="card-header border-0">
                                <h2 class="card-title">#@item.id. @item.subject</h2>
                                <div class="card-tools">
                                    <small> @item.createdon </small>
                                    <small class="badge bg-@item.Status.color"> @item.Status.name </small>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">Инициатор</h5>
                                            <span class="description-text"><a href="mailto:@item.Initiator.Login@@nlmk.com&subject=Обращение #@item.id. @item.subject">@item.Initiator.Name</a></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">Ответственный:</h5>
                                            <span class="description-text">@item.Responsible.Name</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <h5 class="description-header">Категория:</h5>
                                            <span class="description-text">@item.Category.Name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-start">
                                    <a asp-controller="issue" asp-action="edit" asp-route-id="@item.id" class="btn btn-outline-secondary btn-sm">
                                        <span>
                                            <i class="far fa-eye"></i> перейти
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center">
                        <h1 class="display-4">Нет данных для отображения</h1>
                        <p>Отсутствуют обращения инициированные Вами. Для создания нового обращения перейдите по <a asp-controller="issue" asp-action="create">ссылке</a></p>
                    </div>
                }

            </div>
        </div>
        <br />

        @if (Model.Issues.Count() > 0)
        {
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            @if (Model.PageViewModel.HasPreviousPage)
                            {
                                <li class="paginate_button page-item">
                                    <a asp-controller="issue" asp-action="index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="page-link">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Назад
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="paginate_button page-item previous disabled">
                                    <a asp-controller="issue" asp-action="index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="page-link">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Назад
                                    </a>
                                </li>
                            }
                            @if (Model.PageViewModel.HasNextPage)
                            {
                                <li class="paginate_button page-item">
                                    <a asp-controller="issue" asp-action="index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="page-link">
                                        Далее
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/site.js"></script>
<script>
    menuopen("issue-li");
    menuactive("issue-a");
    menuactive("issue-list-a");
</script>
@section VendersScripts
{
    
}

@section CustomScripts
{
    <script>
        
    </script>
}

